<v-card class="markers-list" elevation="2">
  <v-card-title class="d-flex align-center">
    <span>{{ $t('map.markersList') }}</span>
    <v-spacer></v-spacer>
    <v-btn
      :color="isAddingMarker ? 'success' : 'primary'"
      @click="toggleAddingMode"
      :prepend-icon="isAddingMarker ? 'mdi-close' : 'mdi-plus'"
    >
      {{ isAddingMarker ? $t('map.cancel') : $t('map.addMarker') }}
    </v-btn>
  </v-card-title>

  <v-divider></v-divider>

  <!-- Search input when adding marker -->
  <v-card-text v-if="isAddingMarker" class="pa-4">
    <v-text-field
      v-model="searchQuery"
      :label="$t('map.searchAddress')"
      :placeholder="$t('map.searchPlaceholder')"
      prepend-inner-icon="mdi-magnify"
      variant="outlined"
      density="comfortable"
      :loading="searching"
      @keyup.enter="performSearch"
      clearable
    ></v-text-field>

    <v-list v-if="searchResults.length > 0" class="search-results">
      <v-list-item
        v-for="(result, index) in searchResults"
        :key="index"
        @click="selectSearchResult(result)"
        class="search-result-item"
      >
        <template v-slot:prepend>
          <v-icon color="primary">mdi-map-marker-outline</v-icon>
        </template>
        <template v-slot:default>
          <v-list-item-title>{{ result.address }}</v-list-item-title>
          <v-list-item-subtitle>
            {{ formatCoordinates(result.lat, result.lng) }}
          </v-list-item-subtitle>
        </template>
      </v-list-item>
    </v-list>

    <v-alert
      v-if="searchError"
      type="error"
      variant="tonal"
      closable
      @click:close="searchError = ''"
      class="mt-2"
    >
      {{ searchError }}
    </v-alert>
  </v-card-text>

  <v-divider v-if="isAddingMarker"></v-divider>

  <v-card-text class="pa-0">
    <v-list v-if="markers.length > 0" class="markers-scroll">
      <v-list-item
        v-for="marker in markers"
        :key="marker.id"
        :class="{ 'selected-marker': marker.id === selectedMarkerId }"
        @click="selectMarker(marker)"
        lines="two"
      >
        <template v-slot:prepend>
          <v-icon color="primary">mdi-map-marker</v-icon>
        </template>

        <template v-slot:default>
          <v-list-item-title>{{ marker.address }}</v-list-item-title>
          <v-list-item-subtitle>
            {{ formatCoordinates(marker.lat, marker.lng) }}
          </v-list-item-subtitle>
        </template>

        <template v-slot:append>
          <v-btn
            icon="mdi-delete"
            size="small"
            variant="text"
            color="error"
            @click.stop="removeMarker(marker.id)"
            :title="$t('map.removeMarker')"
          ></v-btn>
        </template>
      </v-list-item>
    </v-list>

    <v-sheet
      v-else
      class="pa-8 text-center text-grey"
      height="200"
    >
      <v-icon size="48" color="grey-lighten-1">mdi-map-marker-off</v-icon>
      <div class="mt-2">{{ $t('map.noMarkers') }}</div>
    </v-sheet>
  </v-card-text>
</v-card>
