<v-container fluid class="pa-0 map-container">
  <v-row no-gutters class="fill-height">
    <!-- Map Column -->
    <v-col :cols="12" :md="8" class="map-col">
      <div ref="mapContainer" class="map-wrapper">
        <div id="map" class="leaflet-map"></div>

        <v-alert
          v-if="isAddingMarker"
          type="info"
          variant="elevated"
          class="adding-alert"
          closable
          @click:close="setAddingMode(false)"
        >
          {{ $t('map.addingMode') }}
        </v-alert>

        <v-snackbar
          v-model="errorSnackbar"
          color="error"
          :timeout="5000"
        >
          {{ errorMessage }}
          <template v-slot:actions>
            <v-btn variant="text" @click="errorSnackbar = false">
              Close
            </v-btn>
          </template>
        </v-snackbar>
      </div>
    </v-col>

    <!-- Markers List Column -->
    <v-col :cols="12" :md="4" class="list-col">
      <MarkersList @select-marker="centerOnMarker" />
    </v-col>
  </v-row>

  <v-overlay
    :model-value="loading"
    class="align-center justify-center"
    contained
  >
    <v-progress-circular
      color="primary"
      indeterminate
      size="64"
    ></v-progress-circular>
  </v-overlay>
</v-container>
