<v-container class="pa-6 about-container">
  <v-card class="mx-auto" max-width="1200">
    <v-card-title class="text-h4 font-weight-bold">
      {{ $t('about.title') }}
    </v-card-title>
    <v-card-text class="text-body-1">
      <div class="content">
        <p>
          Необходимо с помощью <strong>Vuejs</strong>, <strong>Vuex</strong>,
          <strong>VueRouter</strong>, <strong>Vuetify</strong> написать приложение.
          Хэдер приложения должен содержать меню из 2-х пунктов:
          <strong>О задании</strong> и <strong>Карта</strong>. В основной части
          приложения должно отображаться содержимое разделов.
        </p>

        <h3 class="mt-6 mb-3">Раздел "О задании"</h3>
        <p>
          В разделе должен быть текст этого задания, сверстанный аналогично.
        </p>

        <h3 class="mt-6 mb-3">Раздел "Карта"</h3>
        <p>На экране должны быть карта и список (см. пример):</p>

        <ol class="my-4">
          <li class="mb-3">
            При клике на кнопку добавления, карта должна перейти в режим добавления
            маркера: в месте клика должен появится маркер, а в списке - запись с
            адресом точки.
            <ol type="a" class="ml-4 mt-2">
              <li class="mb-2">
                Для поиска адреса можно использовать любое бесплатное API для
                геокодирования, например:
                <a href="https://geocode.maps.co/" target="_blank">
                  https://geocode.maps.co/
                </a>.
              </li>
              <li>
                В случае, если адрес не найден, необходимо вывести ошибку и не
                добавлять маркер в список.
              </li>
            </ol>
          </li>

          <li class="mb-3">
            При клике на маркер должна подсвечиваться запись в списке.
          </li>

          <li class="mb-3">
            При клике на запись в списке карта должна центрироваться на маркере.
          </li>

          <li class="mb-3">
            Маркеры должны храниться локально и не пропадать после перезагрузки
            страницы.
          </li>

          <li class="mb-3">
            В адресной строке должен отображаться id выбранного маркера.
          </li>
        </ol>

        <p class="mt-4">
          Локальное хранение данных должно быть организовано в виде сервиса,
          эмулирующего бекенд. (Необходим класс <code>Backend</code>, который
          псевдо-асинхронно сохраняет данные в <code>localStorage</code>)
        </p>

        <h3 class="mt-6 mb-3">Дополнительно:</h3>
        <ol>
          <li class="mb-2">
            Продумать отображение на мобильных устройствах.
          </li>
          <li class="mb-2">
            Предусмотреть локализацию.
          </li>
          <li class="mb-2">
            Необходимо с помощью jest написть 1 модульный тест на любой компонент.
          </li>
        </ol>
      </div>
    </v-card-text>
  </v-card>
</v-container>
